/* #region Font*/
/* latin */

/* cyrillic-ext */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../asset/font/FwZY7-Qmy14u9lezJ-6K6MmTpA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../asset/font/FwZY7-Qmy14u9lezJ-6D6MmTpA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../asset/font/FwZY7-Qmy14u9lezJ-6I6MmTpA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../asset/font/FwZY7-Qmy14u9lezJ-6J6MmTpA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../asset/font/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* #endregion */

/* #region  Animation*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* #endregion */

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px;
}

.display-full {
  width: 100%;
  height: 100%;
}

.display-none {
  display: none !important;
}

.zone {
  /* min-width: 1000px; */
  height: 98%;
  width: 100%;
  position: relative;
}

.icons {
  position: absolute;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  /* padding: 24px; */
}

.size-auto {
  width: auto !important;
  height: auto !important;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(4px);
}

.zone .icons .sound-off {
  background-image: url("../asset/icon/Sound\ Off.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 7%;
  width: 4%;
  display: inline-block;
  margin: 12px;
}

.zone .icons .sound-on {
  background-image: url("../asset/icon/Sound\ On.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 7%;
  width: 4%;
  display: inline-block;
  margin: 12px;
}

.zone .icons .home {
  background-image: url("../asset/icon/Home_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 7%;
  width: 4%;
  display: inline-block;
  margin: 12px;
}

.zone .icons .info {
  background-image: url("../asset/icon/Info.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 7%;
  width: 4%;
  display: inline-block;
  margin: 12px;
}

.score {
  height: 8%;
  width: 10%;
  position: relative;
  display: inline-block;
  margin: 12px;
}

.score .count {
  background-image: url("../asset/icon/Counts.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.score .count-text {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 50%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  color: #0c3d76;
}

.check {
  background-image: url("../asset/icon/Check.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: inline-block;
}

.background {
  position: absolute;
}

.thumb {
  height: 175px;
  width: 175px;
  border: 1px solid #000;
  padding: 5px;
  margin: 0px 10px;
}
div.thumb {
  float: left;
}
canvas {
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
}

.answer {
  height: 7%;
  width: 4%;
  position: absolute;
  display: inline-block;
  z-index: 2;
}

.star1 {
  background: url(../asset/icon/sao.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  z-index: 2;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  margin-top: 30px;
}

.star2 {
  background: url(../asset/icon/sao.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  z-index: 2;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  margin-bottom: 30px;
}

.popup {
}

.main {
  /* min-width: 1000px; */
  height: 100%;
  width: 100%;
  position: relative;
}

.zone-selection {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.zone-selection .title-wrap {
  display: flex;
  position: absolute;
  align-items: center;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;

  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
}

.zone-selection .title-wrap .title {
  font-family: "Pacifico", cursive;
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  color: #ffffff;
  text-transform: uppercase;
  background: #0070b3;
  white-space: nowrap;
}

.zone-selection:hover {
  opacity: 1 !important;
}

.zone-selection:hover .title-wrap {
  display: flex;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

#zone1 {
  height: 71%;
  width: 39.5%;
  left: 0;
  z-index: 2;
}

#zone2 {
  height: 46%;
  width: 65%;
  right: 0;
  z-index: 2;
}

#zone3 {
  height: 54%;
  width: 45.5%;
  left: 8%;
  top: 34.5%;
  z-index: 2;
}

#zone4 {
  height: 31%;
  width: 53.8%;
  top: 27%;
  right: 0;
  z-index: 2;
}

#zone5 {
  height: 29%;
  width: 81%;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#zone6 {
  height: 47%;
  width: 46.5%;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/*#region QuestionForm*/
.question-form {
  height: 47%;
  width: 16%;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 40px;
  top: 24px;
}

.question-form .frame {
  background-image: url("../asset/icon/HotSpotList.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 2;
  position: absolute;
}

.question-form .phelix {
  background-image: url("../asset/icon/Phelix\ 2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 84px;
  height: 110px;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 0.5s ease-in-out;
  margin: 0 auto;
}

.question-form .phelix.colapse {
  width: 120px;
  height: 155px;
  margin: 0;
}

.question-form .question-text {
  width: 100%;
  height: 100%;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  color: #3f76b7;
  z-index: 2;
  font-size: 17px;
  line-height: 1.25;
}

.question-form .question-text .question-wrap {
  list-style-type: none;
  padding: 0;
  margin: 45% 10% 0 10%;
  height: 65%;
  overflow: auto;
}

.question-form .question-text .question-wrap li {
  padding-right: 12px;
  margin-top: 12px;
}

.question-form .question-text .question-wrap li .curiosity {
  display: none;
  color: #F2C94C;
}

.question-done {
  /* color: #213664;
  font-weight: 700; */
  opacity: 0.5;
}

.question-form .question-text .question-wrap .question-done .curiosity {
  display: block;
}

/*#endregion */

/* #region Congratulation*/
.congratulation-form {
  position: absolute;
  display: inline-block;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.congratulation-form .frame {
  background-image: url("../asset/icon/Congratulation.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
  width: 37%;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
}

.congratulation-form .frame .close {
  background-image: url(../asset/icon/Cancel.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 10%;
  height: 8%;
  display: inline-block;
  position: absolute;
  top: 2%;
  left: 94%;
}

.congratulation-form .frame .home {
  background-image: url("../asset/icon/Home.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 18%;
  height: 22%;
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 15%;
}

.congratulation-form .frame .bonus {
  background-image: url("../asset/icon/Bonus.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 22%;
  height: 22%;
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 40%;
}

.congratulation-form .frame .next {
  background-image: url("../asset/icon/Next.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 18%;
  height: 22%;
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 68%;
}

.congratulation-form .frame .animation-wrap {
  display: inline-block;
  position: absolute;
  width: 46%;
  height: 38%;
  overflow: hidden;
  border-radius: 50%;
  top: 22%;
  left: 26%;
}

.congratulation-form .frame .animation-wrap img {
  height: 125%;
  position: absolute;
  top: -10%;
  left: -60%;
}

.congratulation-form .frame .animation-wrap .animation {
  width: auto;
  height: 124%;
  position: absolute;
  top: -21px;
  left: -42px;
}
/* #endregion */

/* #region Bonus Form*/
.bonus-form {
  height: 100%;
  width: 100%;
  position: absolute;
  display: inline-block;
  z-index: 2;
}

.bonus-form .frame {
  background-image: url("../asset/icon/Bonus-frame.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
  width: 44%;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
}

.bonus-form .frame .next {
  background-image: url("../asset/icon/Play.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 18%;
  height: 18%;
  display: inline-block;
  position: absolute;
  top: 74%;
  left: 42%;
}

.bonus-form .content-wrap {
  position: absolute;
  height: 55%;
  width: 38%;
  left: 50%;
  top: 59%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.bonus-form .content-wrap .content {
  width: 100%;
  height: 67%;
  overflow: auto;
}

.bonus-form .content-wrap .next {
  background-image: url("../asset/icon/Play.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 18%;
  height: 23%;
  display: inline-block;
  position: absolute;
  top: 74%;
  left: 42%;
}

.bonus-form .close {
  background-image: url(../asset/icon/Cancel.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 8%;
  height: 8%;
  display: inline-block;
  position: absolute;
  top: 2%;
  left: 94%;
}

.bonus-form .home {
  background-image: url("../asset/icon/Home_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  top: 327px;
  left: 64px;
}
/* #endregion */

/* #region media*/

@media only screen and (max-width: 1900px) {
  .question-form .question-text {
    font-size: 13px;
  }

  .question-form .question-text .question-wrap li {
    margin-top: 10px;
  }

  .score .count-text {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1340px) {
  .question-form .question-text {
    font-size: 7px;
  }

  .question-form .question-text .question-wrap li {
    margin-top: 6px;
  }

  .score .count-text {
    font-size: 10px;
  }
} /*#endregion*/
